.list-group-item-wrapper {
	width: 33.3%;
	float: left;
	@include tablet() {
		width: 50%;
	}
	@include phone() {
		width: 100%;
	}
}

.list-group-item {
	margin: 10px;
	background: $white;

	border-radius: 5px;

	-moz-box-shadow: 0 0 5px lighten($coal, 50%);
	-webkit-box-shadow: 0 0 5px lighten($coal, 50%);
	box-shadow: 0 0 5px lighten($coal, 50%);
	h2 {
		height: 27px;
		display: block;
		display: -webkit-box;
		margin: 0 auto;
		-webkit-line-clamp: $lines-to-show;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	h3 { 
		height: 23px;
		padding: 15px 0;
		display: block;
		display: -webkit-box;
		margin: 0 auto;
		-webkit-line-clamp: $lines-to-show;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	h4 { 
		height: 25px; 
		&.rating {
			padding: 10px 10px 5px 10px;
			background: $red;
			color: $white;
		}
	}
}

.movie-info {
	padding: 0 10px 10px 10px;
}

@include small() {
	.list-group-item {
		margin: 5px 0px;
		padding-bottom: 10px;
		border-left: none;
		border-right: none;
	}
}