.tab {
	.tabs {
		width: 100%;
		margin-bottom: 25px;
		li {
			width: 33.3%;
			float: left;

			background: $teal;
			text-align: center;

			&.active {
				background: $coal;
			}

			a  {
				display: block;
				padding: 10px 0px;
				color: $white;
				text-decoration: none;
			}
		}
	}

/* 	.tab-info {
		height: 400px;
		transition: .5s linear all;
		&.ng-hide {
			height: 0px;
		}
	} */
}