@import url(http://fonts.googleapis.com/css?family=Raleway:500,300|Roboto+Slab:700);

$coal: #333333;
$red: #E74C3C;
$teal: #1ABC9C;
$cloud: #ECF0F1;
$white: #ffffff;

$site-font: 'Raleway', sans-serif;
$font-light: 300;
$font-med: 500;
$font-bold: 'Roboto Slab', serif;

$lines-to-show: 1;

// responsive
$tiny: 320px;
$small: 480px;
$phone: 640px;
$phone-l: 768px;
$tablet: 960px;
$tablet-l: 1024px;
$full: 1080px;
$desktop: 1280px;

@mixin tiny() {
	@include respond-to($tiny) { @content; }
}
@mixin small() {
	@include respond-to($small) { @content; }
}
@mixin phone() {
	@include respond-to($phone) { @content; }
}
@mixin phone-l() {
	@include respond-to($phone-l) { @content; }
}
@mixin tablet() {
	@include respond-to($tablet) { @content; }
}
@mixin tablet-l() {
	@include respond-to($tablet-l) { @content; }
}
@mixin full() {
	@include respond-to($full) { @content; }
}
@mixin desktop() {
	@include respond-to($desktop) { @content; }
}