header {
	width: 100%;
	padding: 20px 0;

	position: fixed;
	z-index: 100;

	background: $coal;
}

.nav-wrapper {
	max-width: $full;
	margin: 0 auto;
	padding: 0 25px;
	color: $teal;

	h1 {
		font-size: 35px;
		display: inline-block;
	}

	.search-filter {
		display: inline-block;
		float: right;
		input {
			width: 300px;
			padding: 5px 15px;
			background: $teal;
			color: $white;
			border: none;
			box-sizing: border-box;
			font-size: 1.2rem;
			letter-spacing: 1px;
			&:focus {
				outline: none;
			}
		}
		::-webkit-input-placeholder { /* WebKit browsers */
		    color: $white;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color: $white;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color: $white;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
		   color: $white;
		}
	}
}

@include tablet() {
	header {
		position: absolute;
		top: 0;
	}
}

@include phone() {
	h1,
	.search-filter {
		display: block;
	}

	h1 { margin-bottom: 20px; }

	.search-filter {
		display: block !important;
		float: none !important;
		input {
			width: 100% !important;
		}
	}
}